<div class="container">

<h2 class="text-center"><b>STUDENT LIST DISPLAY</b></h2>


<a class="btn btn-primary  btn-sm" href="./insertstud.html" role="button">Insert</a>
<table class="table table-striped">
    <thead>
      <tr >
        <th>Student  No</th>
        <th> Student Name</th>
        <th> Student age</th>
        <th> Update</th>
        <th> Delete</th>
      </tr>
    </thead>
    <tbody>
        <!-- @for (stud of students; track $index) {
        <tr> -->
      <tr *ngFor="let stud of students">
        <td>{{stud.sno}}</td>
        <td>{{stud.sname}}</td>
        <td>{{stud.age}}</td>
        <td><button (click)="updateStud(stud.sno)">Update</button></td>
        <td><button (click)="deleteStud(stud.sno)">Delete</button></td>
      </tr>
      <!-- } -->
      </tbody>
  </table>





    

    <br>

    <div class="container">
      <table class="table table-striped">
        <thead>
          <tr >
            <th colspan="2"><h2>Insert Data</h2></th>
          </tr>
        </thead>
        <tbody>
              <tr>
                <th>Student No:</th>
                <th><input type="text" name="sno" [(ngModel)]="studObj.sno"></th>
              </tr>

              <tr >
              <th>Student Name:</th>
              <th><input type="text" name="sname" [(ngModel)]="studObj.sname"></th>
          </tr>
          <tr >
              <th>Age:</th>
              <th><input type="text" name="age" [(ngModel)]="studObj.age"></th>
          </tr>
          <tr>
              <th colspan="1"><button (click)="insertStud()">Insert</button></th>
              <th colspan="1"><button (click)="editstud()">Edit</button></th>
          </tr>
        
          </tbody>
      </table>




      <table align="center">
          <tr>
              
          </tr>
          <tr align="left">
             
          </tr>
          <
      
      </table>
  
  </div>

</div>